.Contact {
    height: 77.8vh;
    width: auto;
    display: flex;
}

.contactForm {
    width: 75%;
    height: 70vh;
    margin: auto;
    margin-top: 1%;
}

.topForm {
    /* padding-top: 5vh; */
    display: flex;
    justify-content: space-evenly;
    /* background-color: red; */
    height: 20%;
    align-items: center;
}

/* .emailField {
    width: 75%;
    margin-bottom: 5vh;
    margin: auto;
} */

.bottomForm {
    display: flex;
    flex-direction: column;
    width: auto;
}
