@media only screen and (max-width: 600px) {
    .navlink {
        min-width: 50%;
    }

    .links {
        min-width: 50%;
        margin-bottom: 2%;
    }

    .footer {
        max-width: auto;
        min-height: 100px;
        display: flex; 
        flex-direction: column;
        position: relative;

    }

    .footer img {
        min-width: 50%;
        margin-top: 5%;

    }
    
    .copyright {
        display: flex;
        align-items: center;
        min-width: 50%;
        /* margin: auto; */
        align-content: center;

    
    }
    
    .Name {
        margin-left: .5%;
        color: #04fd00;

    }

    .footer .links a {
        display: flex;
        justify-content: space-around;
        color: #36ff33;
        text-decoration: none;
    }
}



.footer {
    background-color: #404040;
    position: fixed;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    border-top: 1px solid slategrey;
    color: white;
    display: flex; 
    justify-content:space-between;
    align-items: center;
    bottom: 0;

}

.footer img {
    width: 10%;
    padding-left: 2%;
}

.copyright {
    display: flex;
    margin-left: 2%;
    align-items: center;
    width: 12%;
    min-width:200px;

}

.Name {
    margin-left: .5%;
    color: #04fd00;
}

.links {
    display: flex;
    width: 12%;
    justify-content: space-evenly;
    margin-right: 2%;

}

.footer .links a {
    display: flex;
    justify-content: space-around;
    color: #36ff33;
    text-decoration: none;
}